.notification-panel {
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    max-height: 500px;
    width: 350px;
    overflow-y: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 9999; 
}

.notification-panel h2 {
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}

.notifications-container {
    display: flex;
    flex-direction: column;
}

.notification-item {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.notification-item p {
    margin: 0;
    font-size: 16px;
}

.notification-item p:first-child {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

.accepted {
    background-color: #d4edda; 
}

.pending {
    background-color: #f8d7da; 
}

.no-notification {
    text-align: center;
    color: #6c757d; 
}
