/* PickupAndDropService.css */

.pickup-drop-container {
    display: flex;
  }
  
  .left-side {
    flex: 1;
    padding: 20px;
    margin: 7% 3%;
    border: 1px solid #ccc; /* Add borders for visibility */
    width: 500px;
    border-radius: 15px;
  }
  

  .right-side {
    flex: 1;
    padding: 20px;
    margin: 7% 3%;
    border: 1px solid #ccc; /* Add borders for visibility */
    height: 500px;
    width: 500px;
    border-radius: 15px;
   
  }
  
  .left-side h1, 
  .right-side h1{
    text-align: center;
  }

  .left-side {
    margin-right: 3%; 
  }
  
  .right-side {
    margin-left: 3%; 
  }

  .DateTime{
    display: inline-flex;
  }

  .Pick-up{
    margin-top: 30px;
  }

  .left-side p, 
  .right-side p {
    margin-left: 20px;
  }

  .confirmation {
    width: 180px;
    height: 40px;
    font-size: 18px;
    border-radius: 5px;
    margin-left: 35%;
    margin-top: 30px;
    transition: 0.3s;
    position: relative;
  }
  
  .confirmation:hover {
    background-color: #66ab68;
    box-shadow: 0 0 10px rgba(102, 171, 104, 0.8);
    border-color: #66ab68;
    color: #fff;
  }
  